{% extends "layout.jinja2" %}

{% block content %}

<!-- Show table -->
<div class="col-md-12">
    <div class="container">
        <table id="gfInsuranceRidersPremiumSchedule" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Insurance Riders Premium Schedule ID</th>
                    <th>Rider ID</th>
                    <th>Main Plan ID</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody id="gfInsuranceRidersPremiumSchedule-list-tbody">
            <!-- Retrieve data from backend -->                
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}