{% extends "layout.jinja2" %}

{% block content %}

<!-- Show table -->
<div class="col-md-12">
    <div class="container">
        <table id="gfInsuranceMainCashPlans" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Insurance Main Cash Plans ID</th>
                    <th>Main Plan ID</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody id="gfInsuranceMainCashPlans-list-tbody">
            <!-- Retrieve data from backend -->
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}